{ extends "layouts/app.twig" }

{ block body }

    <!-- Body of the page -->
    <div class="container">
        <div class="d-flex flex-column align-items-center mt-2">
        
            <!-- Loops through all the loaded posts and renders them as a card -->
            { for post in posts }
    
                { include "/elements/post.twig" }
    
            { endfor }
        </div>
    </div>

{ endblock }